/* PFD - START*/

/* Prevent Firefox from putting highlight border on images*/
.noHighlight a:hover {
    border-left: none;
}

/* <PFD Dropdown Menu> */
.pfdMenu .dropdown-menu {
    background-color: #f8f9fa;
}

.pfdMenu .dropdown-item:hover, .dropdown-item:focus {
    color: black;
    background-color: #f8f9fa;
}

.pfdMenu {
    padding: 0px;
    border-bottom: 3px solid lightgray;
}

.pfdMenu ul{
    flex-grow: 1;
}

.pfdMenu .nav-item {
    border-top: none;
    font-size: 0.65em;
}



@media screen and (min-width: 1038px) {
    .pfdMenu .nav-item {
        font-size: 0.8em;
    }
}


.pfdMenu .navbar-toggler {
    border-color: transparent;
}

.mypfdLinks {
/*    display: table-row;*/
    background: #f2f8fd;
}

.pfdLinkSection {
    display: flex;
    align-self: center;
    min-height: 60px;
    margin-top: 5px;
    flex-direction: column;
}


/* PFD Sidebar - START */

.sidebarHeader{
    padding: unset;
}

.sidebar_nav_menu li {
    text-transform: none;
    display: table-cell;
}

.myPFD {
    padding-top: 10px;
/*    max-width: 258px;*/
}

.myPFD .graphic {
    float: left;
    margin-right: 5px;
    width: 88px;
    height: 43px;
}

.myPFD .text {
    font-size: .75em;
    padding-left: 5px;
    color: black;
    line-height: normal;
}

#pfdButton {
    background: url(/../../../images/permanentfunddividendlibraries/page-assets/mypfd-button.png);
}

#pfdButton:hover {
    background: url(/../../../images/permanentfunddividendlibraries/page-assets/mypfd-button-hover.png);
}

#eSignButton {
    background: url(/../../../images/permanentfunddividendlibraries/page-assets/attach-e-sig-button.png);
}

    #eSignButton:hover {
        background: url(/../../../images/permanentfunddividendlibraries/page-assets/attach-e-sig-button-hover.png);
    }

#pcgButton {
    background: url(../../../img/pfd/pick-click-give-button.png);
}

    #pcgButton:hover {
        background: url(../../../img/pfd/pick-click-give-button-hover.png);
    }

.myPFD a, a:hover {
    text-decoration: none;
}
/* PFD Sidebar - END */

/* PFD adjustmetns - END */
.documentSection {
    word-wrap: break-word;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 10px;
    vertical-align: text-top;
    justify-content: space-around;
}

    .documentSection h2 {
        background-color: #f2f8fd;
        text-align: center;
        text-decoration: underline;
    }

/* <PFD Section> */
.pfdSection {
    overflow: hidden;
    margin: 10px;
    background-color: #f0ebdb;
    border-radius: 0px 0px 10px 10px;
}

.pfdSection h1 {
    padding: 5px;
    font-size: 1.25em;
    margin-bottom: 10px;
    color: white;
    background: rgb(7,47,73);
    background: linear-gradient(0deg, rgba(7,47,73,1) 0%, rgba(63,120,167,1) 100%);
    border-top: 3px solid #f3d142;
}

.pfdSection h2, .pfdSection h3 {
    padding-left: 10px;
}


.pfdSection p {
    padding: 10px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.pfdSection ul {
    padding: 0px 10px 10px 50px;
}

.pfdLocations img {
    width: 100%;
}

.pfdLocations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* </ PFD Section> */

/* <PFD Expanding Section> */
.pfdExpandable {
    max-height: 30px;
    overflow: hidden;
    background-color: #f0ebdb;
    border-radius: 0px 0px 10px 10px;
}


/* </ PFD Expanding Section> */

.pfdLocation {
    font-size: 1.3em;
    max-width: 240px;
    margin-bottom: 5px;
    background: #f2f8fd;
    margin: 10px;
    padding: 0px;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid #194a6b;
}

.pfdLocation h2 {
    background: linear-gradient(0deg, rgba(7,47,73,1) 0%, rgba(63,120,167,1) 100%);
    color: white;
    padding: 5px 0px 5px 0px;
}


/* PFD Table - Start */

.pfdTable td {
    border: 1px dotted #d3d3d3;
}

.pfdTable table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pfdTable tbody tr:last-child {
    background-color: white;
    border-top: 3px solid black;
}

.pfdTable tbody tr:first-child td {
    text-align: center;
    padding: 2px;
    border-bottom: 2px solid black;
}

@media screen and (min-width: 991px) {
    .pfdTable table {
        font-size: 1em;
    }
}
/* PFD Table - END */



/* PFD - END */